In [45]:
import pandas as pd

df = pd.read_csv(
    "data/OraclesElixir/2024_LoL_esports_match_data_from_OraclesElixir.csv",
    dtype={"url": "str"}
)

rows, cols = df.shape
print(f"The CSV file has {rows} rows and {cols} columns.")

print(len(df.columns.tolist()))
print(df.columns.tolist())

The CSV file has 117648 rows and 161 columns.
161
['gameid', 'datacompleteness', 'url', 'league', 'year', 'split', 'playoffs', 'date', 'game', 'patch', 'participantid', 'side', 'position', 'playername', 'playerid', 'teamname', 'teamid', 'champion', 'ban1', 'ban2', 'ban3', 'ban4', 'ban5', 'pick1', 'pick2', 'pick3', 'pick4', 'pick5', 'gamelength', 'result', 'kills', 'deaths', 'assists', 'teamkills', 'teamdeaths', 'doublekills', 'triplekills', 'quadrakills', 'pentakills', 'firstblood', 'firstbloodkill', 'firstbloodassist', 'firstbloodvictim', 'team kpm', 'ckpm', 'firstdragon', 'dragons', 'opp_dragons', 'elementaldrakes', 'opp_elementaldrakes', 'infernals', 'mountains', 'clouds', 'oceans', 'chemtechs', 'hextechs', 'dragons (type unknown)', 'elders', 'opp_elders', 'firstherald', 'heralds', 'opp_heralds', 'void_grubs', 'opp_void_grubs', 'firstbaron', 'barons', 'opp_barons', 'firsttower', 'towers', 'opp_towers', 'firstmidtower', 'firsttothreetowers', 'turretplates', 'opp_turretplates', 'inhibitors', 'opp_inhibitors', 'damagetochampions', 'dpm', 'damageshare', 'damagetakenperminute', 'damagemitigatedperminute', 'wardsplaced', 'wpm', 'wardskilled', 'wcpm', 'controlwardsbought', 'visionscore', 'vspm', 'totalgold', 'earnedgold', 'earned gpm', 'earnedgoldshare', 'goldspent', 'gspd', 'gpr', 'total cs', 'minionkills', 'monsterkills', 'monsterkillsownjungle', 'monsterkillsenemyjungle', 'cspm', 'goldat10', 'xpat10', 'csat10', 'opp_goldat10', 'opp_xpat10', 'opp_csat10', 'golddiffat10', 'xpdiffat10', 'csdiffat10', 'killsat10', 'assistsat10', 'deathsat10', 'opp_killsat10', 'opp_assistsat10', 'opp_deathsat10', 'goldat15', 'xpat15', 'csat15', 'opp_goldat15', 'opp_xpat15', 'opp_csat15', 'golddiffat15', 'xpdiffat15', 'csdiffat15', 'killsat15', 'assistsat15', 'deathsat15', 'opp_killsat15', 'opp_assistsat15', 'opp_deathsat15', 'goldat20', 'xpat20', 'csat20', 'opp_goldat20', 'opp_xpat20', 'opp_csat20', 'golddiffat20', 'xpdiffat20', 'csdiffat20', 'killsat20', 'assistsat20', 'deathsat20', 'opp_killsat20', 'opp_assistsat20', 'opp_deathsat20', 'goldat25', 'xpat25', 'csat25', 'opp_goldat25', 'opp_xpat25', 'opp_csat25', 'golddiffat25', 'xpdiffat25', 'csdiffat25', 'killsat25', 'assistsat25', 'deathsat25', 'opp_killsat25', 'opp_assistsat25', 'opp_deathsat25']

In [42]:
for i, col in enumerate(df.columns):
    print(f"Column {i}: {col}")
    print(df[col].describe())
    if df[col].dtype == 'object' and df[col].nunique() <= 20:
        print("Unique values:", df[col].unique())
    print("------------------------------------")

Column 0: gameid
count               117648
unique                9804
top       LOLTMNT02_194401
freq                    12
Name: gameid, dtype: object
------------------------------------
Column 1: datacompleteness
count       117648
unique           2
top       complete
freq        100956
Name: datacompleteness, dtype: object
Unique values: ['partial' 'complete']
------------------------------------
Column 2: url
count                                            16692
unique                                             551
top       https://lpl.qq.com/es/stats.shtml?bmid=10934
freq                                                60
Name: url, dtype: object
------------------------------------
Column 3: league
count     117648
unique        51
top          LPL
freq        8604
Name: league, dtype: object
------------------------------------
Column 4: year
count    117648.000000
mean       2024.035292
std           0.194213
min        2023.000000
25%        2024.000000
50%        2024.000000
75%        2024.000000
max        2025.000000
Name: year, dtype: float64
------------------------------------
Column 5: split
count      95868
unique        15
top       Summer
freq       34008
Name: split, dtype: object
Unique values: [nan 'Winter' 'Spring' 'Split 1' 'Opening' 'Placements' 'Split 2' '2024'
 'Split 3' 'Champ 1' 'Summer' 'Summer Placements' 'Closing' 'Finals'
 'BLX Masters' 'Champ 2']
------------------------------------
Column 6: playoffs
count    117648.000000
mean          0.216748
std           0.412031
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: playoffs, dtype: float64
------------------------------------
Column 7: date
count                  117648
unique                   9791
top       2024-06-05 18:06:14
freq                       24
Name: date, dtype: object
------------------------------------
Column 8: game
count    117648.000000
mean          1.678703
std           0.939304
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max           5.000000
Name: game, dtype: float64
------------------------------------
Column 9: patch
count    117504.000000
mean         14.093903
std           0.068401
min          13.240000
25%          14.040000
50%          14.100000
75%          14.140000
max          14.230000
Name: patch, dtype: float64
------------------------------------
Column 10: participantid
count    117648.000000
mean         29.583333
std          57.650712
min           1.000000
25%           3.750000
50%           6.500000
75%           9.250000
max         200.000000
Name: participantid, dtype: float64
------------------------------------
Column 11: side
count     117648
unique         2
top         Blue
freq       58824
Name: side, dtype: object
Unique values: ['Blue' 'Red']
------------------------------------
Column 12: position
count     117648
unique         6
top          top
freq       19608
Name: position, dtype: object
Unique values: ['top' 'jng' 'mid' 'bot' 'sup' 'team']
------------------------------------
Column 13: playername
count        98040
unique        3128
top       Gumayusi
freq           177
Name: playername, dtype: object
------------------------------------
Column 14: playerid
count                                         96988
unique                                         2929
top       oe:player:c7319736816efe935787b4381c6f321
freq                                            177
Name: playerid, dtype: object
------------------------------------
Column 15: teamname
count           117648
unique             425
top       unknown team
freq              2712
Name: teamname, dtype: object
------------------------------------
Column 16: teamid
count                                      114936
unique                                        425
top       oe:team:ce499dea30cfce118f4fe85da0227e8
freq                                         1086
Name: teamid, dtype: object
------------------------------------
Column 17: champion
count     98040
unique      168
top        Rell
freq       3727
Name: champion, dtype: object
------------------------------------
Column 18: ban1
count     110256
unique       145
top       Rumble
freq       10590
Name: ban1, dtype: object
------------------------------------
Column 19: ban2
count     110424
unique       145
top         Ashe
freq        8508
Name: ban2, dtype: object
------------------------------------
Column 20: ban3
count     110346
unique       143
top         Ashe
freq        8490
Name: ban3, dtype: object
------------------------------------
Column 21: ban4
count     110088
unique       158
top           Vi
freq        3732
Name: ban4, dtype: object
------------------------------------
Column 22: ban5
count       109830
unique         159
top       Nautilus
freq          3942
Name: ban5, dtype: object
------------------------------------
Column 23: pick1
count     17758
unique      124
top       Varus
freq       1283
Name: pick1, dtype: object
------------------------------------
Column 24: pick2
count      17758
unique       150
top       Maokai
freq         835
Name: pick2, dtype: object
------------------------------------
Column 25: pick3
count        17758
unique         162
top       Nautilus
freq           961
Name: pick3, dtype: object
------------------------------------
Column 26: pick4
count       17758
unique        163
top       K'Sante
freq          918
Name: pick4, dtype: object
------------------------------------
Column 27: pick5
count       17758
unique        168
top       K'Sante
freq          957
Name: pick5, dtype: object
------------------------------------
Column 28: gamelength
count    117648.000000
mean       1898.142493
std         337.767782
min         522.000000
25%        1661.750000
50%        1859.000000
75%        2099.000000
max        3482.000000
Name: gamelength, dtype: float64
------------------------------------
Column 29: result
count    117648.000000
mean          0.499898
std           0.500002
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: result, dtype: float64
------------------------------------
Column 30: kills
count    117648.000000
mean          5.040103
std           6.053515
min           0.000000
25%           1.000000
50%           3.000000
75%           6.000000
max          59.000000
Name: kills, dtype: float64
------------------------------------
Column 31: deaths
count    117648.000000
mean          5.050677
std           5.783115
min           0.000000
25%           2.000000
50%           3.000000
75%           6.000000
max          59.000000
Name: deaths, dtype: float64
------------------------------------
Column 32: assists
count    117648.000000
mean         11.594570
std          13.591615
min           0.000000
25%           4.000000
50%           7.000000
75%          13.000000
max         108.000000
Name: assists, dtype: float64
------------------------------------
Column 33: teamkills
count    117648.000000
mean         15.120308
std           7.564805
min           0.000000
25%           9.000000
50%          15.000000
75%          20.000000
max          59.000000
Name: teamkills, dtype: float64
------------------------------------
Column 34: teamdeaths
count    117648.000000
mean         15.152030
std           7.565083
min           0.000000
25%           9.000000
50%          15.000000
75%          21.000000
max          59.000000
Name: teamdeaths, dtype: float64
------------------------------------
Column 35: doublekills
count    100956.000000
mean          0.581263
std           1.042784
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          10.000000
Name: doublekills, dtype: float64
------------------------------------
Column 36: triplekills
count    100956.000000
mean          0.104164
std           0.350475
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           4.000000
Name: triplekills, dtype: float64
------------------------------------
Column 37: quadrakills
count    100956.000000
mean          0.017572
std           0.136855
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           2.000000
Name: quadrakills, dtype: float64
------------------------------------
Column 38: pentakills
count    100956.000000
mean          0.003685
std           0.060917
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           2.000000
Name: pentakills, dtype: float64
------------------------------------
Column 39: firstblood
count    103738.000000
mean          0.291407
std           0.454413
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: firstblood, dtype: float64
------------------------------------
Column 40: firstbloodkill
count    98040.000000
mean         0.099918
std          0.299893
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: firstbloodkill, dtype: float64
------------------------------------
Column 41: firstbloodassist
count    84130.000000
mean         0.142886
std          0.349959
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: firstbloodassist, dtype: float64
------------------------------------
Column 42: firstbloodvictim
count    84130.000000
mean         0.100000
std          0.300002
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: firstbloodvictim, dtype: float64
------------------------------------
Column 43: team kpm
count    117648.000000
mean          0.485061
std           0.257226
min           0.000000
25%           0.289500
50%           0.454500
75%           0.644900
max           2.454900
Name: team kpm, dtype: float64
------------------------------------
Column 44: ckpm
count    117648.000000
mean          0.970122
std           0.312173
min           0.130100
25%           0.749075
50%           0.936300
75%           1.150125
max           3.370300
Name: ckpm, dtype: float64
------------------------------------
Column 45: firstdragon
count    18442.000000
mean         0.499620
std          0.500013
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: firstdragon, dtype: float64
------------------------------------
Column 46: dragons
count    19608.000000
mean         2.219298
std          1.366657
min          0.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          7.000000
Name: dragons, dtype: float64
------------------------------------
Column 47: opp_dragons
count    19608.000000
mean         2.219298
std          1.366657
min          0.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          7.000000
Name: opp_dragons, dtype: float64
------------------------------------
Column 48: elementaldrakes
count    16826.000000
mean         2.160763
std          1.321176
min          0.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          4.000000
Name: elementaldrakes, dtype: float64
------------------------------------
Column 49: opp_elementaldrakes
count    16826.000000
mean         2.160763
std          1.321176
min          0.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          4.000000
Name: opp_elementaldrakes, dtype: float64
------------------------------------
Column 50: infernals
count    16826.000000
mean         0.363842
std          0.661511
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          4.000000
Name: infernals, dtype: float64
------------------------------------
Column 51: mountains
count    16826.000000
mean         0.363307
std          0.651988
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          4.000000
Name: mountains, dtype: float64
------------------------------------
Column 52: clouds
count    16826.000000
mean         0.358196
std          0.653538
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          4.000000
Name: clouds, dtype: float64
------------------------------------
Column 53: oceans
count    16826.000000
mean         0.367942
std          0.658111
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          4.000000
Name: oceans, dtype: float64
------------------------------------
Column 54: chemtechs
count    16826.000000
mean         0.347379
std          0.647619
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          4.000000
Name: chemtechs, dtype: float64
------------------------------------
Column 55: hextechs
count    16826.000000
mean         0.360097
std          0.647830
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          4.000000
Name: hextechs, dtype: float64
------------------------------------
Column 56: dragons (type unknown)
count    2782.000000
mean        2.244788
std         1.321727
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         4.000000
Name: dragons (type unknown), dtype: float64
------------------------------------
Column 57: elders
count    16826.000000
mean         0.054321
std          0.245779
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          3.000000
Name: elders, dtype: float64
------------------------------------
Column 58: opp_elders
count    16826.000000
mean         0.054321
std          0.245779
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          3.000000
Name: opp_elders, dtype: float64
------------------------------------
Column 59: firstherald
count    16826.000000
mean         0.495899
std          0.499998
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: firstherald, dtype: float64
------------------------------------
Column 60: heralds
count    18442.000000
mean         0.495933
std          0.499997
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: heralds, dtype: float64
------------------------------------
Column 61: opp_heralds
count    18442.000000
mean         0.495933
std          0.499997
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: opp_heralds, dtype: float64
------------------------------------
Column 62: void_grubs
count    18442.000000
mean         2.762553
std          2.112466
min          0.000000
25%          1.000000
50%          3.000000
75%          5.000000
max          6.000000
Name: void_grubs, dtype: float64
------------------------------------
Column 63: opp_void_grubs
count    18442.000000
mean         2.762553
std          2.112466
min          0.000000
25%          1.000000
50%          3.000000
75%          5.000000
max          6.000000
Name: opp_void_grubs, dtype: float64
------------------------------------
Column 64: firstbaron
count    16826.000000
mean         0.478010
std          0.499531
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: firstbaron, dtype: float64
------------------------------------
Column 65: barons
count    103738.000000
mean          0.251451
std           0.546955
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           5.000000
Name: barons, dtype: float64
------------------------------------
Column 66: opp_barons
count    103738.000000
mean          0.251451
std           0.546955
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           5.000000
Name: opp_barons, dtype: float64
------------------------------------
Column 67: firsttower
count    18442.000000
mean         0.499946
std          0.500014
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: firsttower, dtype: float64
------------------------------------
Column 68: towers
count    19608.000000
mean         6.129743
std          3.586482
min          0.000000
25%          3.000000
50%          7.000000
75%          9.000000
max         11.000000
Name: towers, dtype: float64
------------------------------------
Column 69: opp_towers
count    19608.000000
mean         6.129743
std          3.586482
min          0.000000
25%          3.000000
50%          7.000000
75%          9.000000
max         11.000000
Name: opp_towers, dtype: float64
------------------------------------
Column 70: firstmidtower
count    16824.000000
mean         0.500000
std          0.500015
min          0.000000
25%          0.000000
50%          0.500000
75%          1.000000
max          1.000000
Name: firstmidtower, dtype: float64
------------------------------------
Column 71: firsttothreetowers
count    16826.000000
mean         0.499941
std          0.500015
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: firsttothreetowers, dtype: float64
------------------------------------
Column 72: turretplates
count    16826.000000
mean         4.261322
std          2.642323
min          0.000000
25%          2.000000
50%          4.000000
75%          6.000000
max         15.000000
Name: turretplates, dtype: float64
------------------------------------
Column 73: opp_turretplates
count    16826.000000
mean         4.261322
std          2.642323
min          0.000000
25%          2.000000
50%          4.000000
75%          6.000000
max         15.000000
Name: opp_turretplates, dtype: float64
------------------------------------
Column 74: inhibitors
count    103738.000000
mean          0.322090
std           0.689188
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: inhibitors, dtype: float64
------------------------------------
Column 75: opp_inhibitors
count    103738.000000
mean          0.322090
std           0.689188
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: opp_inhibitors, dtype: float64
------------------------------------
Column 76: damagetochampions
count    117648.000000
mean      26898.310384
std       27907.600141
min           0.000000
25%        9662.000000
50%       17063.000000
75%       29079.250000
max      273210.000000
Name: damagetochampions, dtype: float64
------------------------------------
Column 77: dpm
count    117648.000000
mean        843.403077
std         834.241686
min           0.000000
25%         320.697850
50%         557.183600
75%         878.729475
max        5848.876600
Name: dpm, dtype: float64
------------------------------------
Column 78: damageshare
count    98040.000000
mean         0.200000
std          0.095281
min          0.000000
25%          0.118818
50%          0.201862
75%          0.269803
max          0.604241
Name: damageshare, dtype: float64
------------------------------------
Column 79: damagetakenperminute
count    117648.000000
mean       1162.850242
std        1102.125182
min           0.000000
25%         508.783500
50%         722.530000
75%        1110.224250
max        7202.407500
Name: damagetakenperminute, dtype: float64
------------------------------------
Column 80: damagemitigatedperminute
count    100956.000000
mean       1119.973982
std        1141.569713
min          19.766700
25%         356.376850

In [ ]:
columns_to_drop = list(df.columns[1:11]) + ["playerid", 'teamname', 'teamid', 'playername', 'gamelength', 'infernals','' ]
df.drop(columns=columns_to_drop, axis=1, inplace=True)
filtered_rows = df[df['gameid'].isin(['LOLTMNT02_194401', 'LOLTMNT99_132665'])]
filtered_rows.to_csv("filtered_rows.csv", index=False)
filtered_rows

,gameid,side,position,playername,champion,ban1,ban2,ban3,ban4,ban5,...,opp_csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
192,LOLTMNT99_132665,Blue,top,Peop,Jax,Jarvan IV,Nocturne,Orianna,Cassiopeia,Darius,...,204.0,-2068.0,-638.0,-6.0,2.0,1.0,4.0,3.0,4.0,3.0
193,LOLTMNT99_132665,Blue,jng,Stalken,Karthus,Jarvan IV,Nocturne,Orianna,Cassiopeia,Darius,...,134.0,1868.0,3301.0,88.0,1.0,9.0,2.0,2.0,5.0,4.0
194,LOLTMNT99_132665,Blue,mid,alix,Lucian,Jarvan IV,Nocturne,Orianna,Cassiopeia,Darius,...,218.0,2421.0,1477.0,-11.0,7.0,6.0,2.0,1.0,1.0,3.0
195,LOLTMNT99_132665,Blue,bot,nevermind,Jhin,Jarvan IV,Nocturne,Orianna,Cassiopeia,Darius,...,227.0,-1087.0,-538.0,-31.0,6.0,4.0,0.0,5.0,1.0,3.0
196,LOLTMNT99_132665,Blue,sup,Noki,Braum,Jarvan IV,Nocturne,Orianna,Cassiopeia,Darius,...,42.0,325.0,-209.0,-15.0,1.0,8.0,3.0,0.0,4.0,4.0
197,LOLTMNT99_132665,Red,top,Sangrod,Jayce,Akshan,Neeko,Akali,Alistar,Ezreal,...,198.0,2068.0,638.0,6.0,3.0,4.0,3.0,2.0,1.0,4.0
198,LOLTMNT99_132665,Red,jng,Derakhil,Elise,Akshan,Neeko,Akali,Alistar,Ezreal,...,222.0,-1868.0,-3301.0,-88.0,2.0,5.0,4.0,1.0,9.0,2.0
199,LOLTMNT99_132665,Red,mid,sappxire1,Syndra,Akshan,Neeko,Akali,Alistar,Ezreal,...,207.0,-2421.0,-1477.0,11.0,1.0,1.0,3.0,7.0,6.0,2.0
200,LOLTMNT99_132665,Red,bot,tuokaZ,Varus,Akshan,Neeko,Akali,Alistar,Ezreal,...,196.0,1087.0,538.0,31.0,5.0,1.0,3.0,6.0,4.0,0.0
201,LOLTMNT99_132665,Red,sup,Rexha,Rell,Akshan,Neeko,Akali,Alistar,Ezreal,...,27.0,-325.0,209.0,15.0,0.0,4.0,4.0,1.0,8.0,3.0
202,LOLTMNT99_132665,Blue,team,NaN,NaN,Jarvan IV,Nocturne,Orianna,Cassiopeia,Darius,...,825.0,1459.0,3393.0,25.0,17.0,28.0,11.0,11.0,15.0,17.0
203,LOLTMNT99_132665,Red,team,NaN,NaN,Akshan,Neeko,Akali,Alistar,Ezreal,...,850.0,-1459.0,-3393.0,-25.0,11.0,15.0,17.0,17.0,28.0,11.0
117636,LOLTMNT02_194401,Blue,top,Siwoo,K'Sante,Vi,Renekton,Skarner,Ashe,Kalista,...,193.0,-597.0,1549.0,39.0,1.0,2.0,3.0,4.0,0.0,1.0
117637,LOLTMNT02_194401,Blue,jng,Lucid,Viego,Vi,Renekton,Skarner,Ashe,Kalista,...,127.0,1852.0,2883.0,74.0,2.0,3.0,0.0,2.0,3.0,3.0
117638,LOLTMNT02_194401,Blue,mid,ShowMaker,Aurora,Vi,Renekton,Skarner,Ashe,Kalista,...,247.0,1050.0,-1845.0,-36.0,4.0,1.0,2.0,0.0,2.0,2.0
117639,LOLTMNT02_194401,Blue,bot,Aiming,Varus,Vi,Renekton,Skarner,Ashe,Kalista,...,250.0,827.0,702.0,3.0,1.0,5.0,0.0,1.0,0.0,0.0
117640,LOLTMNT02_194401,Blue,sup,BeryL,Maokai,Vi,Renekton,Skarner,Ashe,Kalista,...,30.0,146.0,383.0,5.0,0.0,5.0,2.0,0.0,4.0,2.0
117641,LOLTMNT02_194401,Red,top,Morgan,Jax,LeBlanc,Poppy,Ambessa,Nocturne,Lee Sin,...,232.0,597.0,-1549.0,-39.0,4.0,0.0,1.0,1.0,2.0,3.0
117642,LOLTMNT02_194401,Red,jng,HamBak,Sejuani,LeBlanc,Poppy,Ambessa,Nocturne,Lee Sin,...,201.0,-1852.0,-2883.0,-74.0,2.0,3.0,3.0,2.0,3.0,0.0
117643,LOLTMNT02_194401,Red,mid,Clozer,Azir,LeBlanc,Poppy,Ambessa,Nocturne,Lee Sin,...,211.0,-1050.0,1845.0,36.0,0.0,2.0,2.0,4.0,1.0,2.0
117644,LOLTMNT02_194401,Red,bot,Hype,Jhin,LeBlanc,Poppy,Ambessa,Nocturne,Lee Sin,...,253.0,-827.0,-702.0,-3.0,1.0,0.0,0.0,1.0,5.0,0.0
117645,LOLTMNT02_194401,Red,sup,Pollu,Rell,LeBlanc,Poppy,Ambessa,Nocturne,Lee Sin,...,35.0,-146.0,-383.0,-5.0,0.0,4.0,2.0,0.0,5.0,2.0
117646,LOLTMNT02_194401,Blue,team,NaN,NaN,Vi,Renekton,Skarner,Ashe,Kalista,...,847.0,3278.0,3672.0,85.0,8.0,16.0,7.0,7.0,9.0,8.0
117647,LOLTMNT02_194401,Red,team,NaN,NaN,LeBlanc,Poppy,Ambessa,Nocturne,Lee Sin,...,932.0,-3278.0,-3672.0,-85.0,7.0,9.0,8.0,8.0,16.0,7.0