In [43]:
import pandas as pd
pd.options.display.max_rows = 100

df = pd.concat(
    [
        pd.read_csv(
            f"data/OraclesElixir/{year}_LoL_esports_match_data_from_OraclesElixir.csv",
            dtype={"url": "str"}
        )
        for year in range(2020, 2025)
    ],
    ignore_index=True
)

rows, cols = df.shape
print(f"The CSV file has {rows} rows and {cols} columns.")

print(df.columns.tolist())

The CSV file has 666168 rows and 161 columns.
['gameid', 'datacompleteness', 'url', 'league', 'year', 'split', 'playoffs', 'date', 'game', 'patch', 'participantid', 'side', 'position', 'playername', 'playerid', 'teamname', 'teamid', 'champion', 'ban1', 'ban2', 'ban3', 'ban4', 'ban5', 'pick1', 'pick2', 'pick3', 'pick4', 'pick5', 'gamelength', 'result', 'kills', 'deaths', 'assists', 'teamkills', 'teamdeaths', 'doublekills', 'triplekills', 'quadrakills', 'pentakills', 'firstblood', 'firstbloodkill', 'firstbloodassist', 'firstbloodvictim', 'team kpm', 'ckpm', 'firstdragon', 'dragons', 'opp_dragons', 'elementaldrakes', 'opp_elementaldrakes', 'infernals', 'mountains', 'clouds', 'oceans', 'chemtechs', 'hextechs', 'dragons (type unknown)', 'elders', 'opp_elders', 'firstherald', 'heralds', 'opp_heralds', 'void_grubs', 'opp_void_grubs', 'firstbaron', 'barons', 'opp_barons', 'firsttower', 'towers', 'opp_towers', 'firstmidtower', 'firsttothreetowers', 'turretplates', 'opp_turretplates', 'inhibitors', 'opp_inhibitors', 'damagetochampions', 'dpm', 'damageshare', 'damagetakenperminute', 'damagemitigatedperminute', 'wardsplaced', 'wpm', 'wardskilled', 'wcpm', 'controlwardsbought', 'visionscore', 'vspm', 'totalgold', 'earnedgold', 'earned gpm', 'earnedgoldshare', 'goldspent', 'gspd', 'gpr', 'total cs', 'minionkills', 'monsterkills', 'monsterkillsownjungle', 'monsterkillsenemyjungle', 'cspm', 'goldat10', 'xpat10', 'csat10', 'opp_goldat10', 'opp_xpat10', 'opp_csat10', 'golddiffat10', 'xpdiffat10', 'csdiffat10', 'killsat10', 'assistsat10', 'deathsat10', 'opp_killsat10', 'opp_assistsat10', 'opp_deathsat10', 'goldat15', 'xpat15', 'csat15', 'opp_goldat15', 'opp_xpat15', 'opp_csat15', 'golddiffat15', 'xpdiffat15', 'csdiffat15', 'killsat15', 'assistsat15', 'deathsat15', 'opp_killsat15', 'opp_assistsat15', 'opp_deathsat15', 'goldat20', 'xpat20', 'csat20', 'opp_goldat20', 'opp_xpat20', 'opp_csat20', 'golddiffat20', 'xpdiffat20', 'csdiffat20', 'killsat20', 'assistsat20', 'deathsat20', 'opp_killsat20', 'opp_assistsat20', 'opp_deathsat20', 'goldat25', 'xpat25', 'csat25', 'opp_goldat25', 'opp_xpat25', 'opp_csat25', 'golddiffat25', 'xpdiffat25', 'csdiffat25', 'killsat25', 'assistsat25', 'deathsat25', 'opp_killsat25', 'opp_assistsat25', 'opp_deathsat25']

In [44]:
num_complete_rows = df[df["datacompleteness"] == 'complete'].shape[0]
total_rows = df.shape[0]
ratio = num_complete_rows / total_rows
print(f"Number of rows where datacompleteness is 'complete': {num_complete_rows}")
print(f"Ratio of 'complete' rows to total rows: {ratio:.4f}")

df = df[df["datacompleteness"] == 'complete']

Number of rows where datacompleteness is 'complete': 590184
Ratio of 'complete' rows to total rows: 0.8859

In [45]:
for i, col in enumerate(df.columns):
    print(f"Column {i}: {col}")
    print(df[col].describe())
    if df[col].dtype == 'object' and df[col].nunique() <= 20:
        print("Unique values:", df[col].unique())
    print("------------------------------------")

Column 0: gameid
count               590184
unique               49182
top       LOLTMNT02_194401
freq                    12
Name: gameid, dtype: object
------------------------------------
Column 1: datacompleteness
count       590184
unique           1
top       complete
freq        590184
Name: datacompleteness, dtype: object
Unique values: ['complete']
------------------------------------
Column 2: url
count                                          248580
unique                                          19100
top       https://lpl.qq.com/es/stats.shtml?bmid=6904
freq                                               60
Name: url, dtype: object
------------------------------------
Column 3: league
count     590184
unique        89
top          LCK
freq       28848
Name: league, dtype: object
------------------------------------
Column 4: year
count    590184.000000
mean       2021.937335
std           1.394531
min        2020.000000
25%        2021.000000
50%        2022.000000
75%        2023.000000
max        2025.000000
Name: year, dtype: float64
------------------------------------
Column 5: split
count     444468
unique        27
top       Summer
freq      168516
Name: split, dtype: object
------------------------------------
Column 6: playoffs
count    590184.000000
mean          0.193729
std           0.395220
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: playoffs, dtype: float64
------------------------------------
Column 7: date
count                  590184
unique                  49059
top       2021-06-26 13:58:39
freq                       60
Name: date, dtype: object
------------------------------------
Column 8: game
count    589512.000000
mean          1.555510
std           0.903275
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max           5.000000
Name: game, dtype: float64
------------------------------------
Column 9: patch
count    590184.000000
mean         12.003117
std           1.370570
min           9.240000
25%          11.030000
50%          12.050000
75%          13.110000
max          14.230000
Name: patch, dtype: float64
------------------------------------
Column 10: participantid
count    590184.000000
mean         29.583333
std          57.650516
min           1.000000
25%           3.750000
50%           6.500000
75%           9.250000
max         200.000000
Name: participantid, dtype: float64
------------------------------------
Column 11: side
count     590184
unique         2
top         Blue
freq      295092
Name: side, dtype: object
Unique values: ['Blue' 'Red']
------------------------------------
Column 12: position
count     590184
unique         6
top          top
freq       98364
Name: position, dtype: object
Unique values: ['top' 'jng' 'mid' 'bot' 'sup' 'team']
------------------------------------
Column 13: playername
count     490851
unique      8152
top        Keria
freq         694
Name: playername, dtype: object
------------------------------------
Column 14: playerid
count                                        486364
unique                                         7291
top       oe:player:db79ce6ad35451c938fbe2995dabd37
freq                                            694
Name: playerid, dtype: object
------------------------------------
Column 15: teamname
count           590022
unique            1270
top       unknown team
freq              8724
Name: teamname, dtype: object
------------------------------------
Column 16: teamid
count                                      581460
unique                                       1272
top       oe:team:ce499dea30cfce118f4fe85da0227e8
freq                                         4128
Name: teamid, dtype: object
------------------------------------
Column 17: champion
count       491820
unique         169
top       Nautilus
freq         15070
Name: champion, dtype: object
------------------------------------
Column 18: ban1
count      587412
unique        168
top       Kalista
freq        17508
Name: ban1, dtype: object
------------------------------------
Column 19: ban2
count     588366
unique       169
top       Lucian
freq       16554
Name: ban2, dtype: object
------------------------------------
Column 20: ban3
count     587106
unique       169
top       Lucian
freq       15558
Name: ban3, dtype: object
------------------------------------
Column 21: ban4
count       587484
unique         168
top       Nautilus
freq         18654
Name: ban4, dtype: object
------------------------------------
Column 22: ban5
count       586224
unique         169
top       Nautilus
freq         17796
Name: ban5, dtype: object
------------------------------------
Column 23: pick1
count        82200
unique         161
top       Aphelios
freq          3994
Name: pick1, dtype: object
------------------------------------
Column 24: pick2
count        82200
unique         167
top       Aphelios
freq          2872
Name: pick2, dtype: object
------------------------------------
Column 25: pick3
count        82200
unique         169
top       Nautilus
freq          4673
Name: pick3, dtype: object
------------------------------------
Column 26: pick4
count        82200
unique         168
top       Nautilus
freq          2874
Name: pick4, dtype: object
------------------------------------
Column 27: pick5
count     82200
unique      169
top        Gnar
freq       2807
Name: pick5, dtype: object
------------------------------------
Column 28: gamelength
count    590184.000000
mean       1898.687548
std         338.410386
min         522.000000
25%        1662.000000
50%        1861.000000
75%        2100.000000
max        4216.000000
Name: gamelength, dtype: float64
------------------------------------
Column 29: result
count    590184.00000
mean          0.49999
std           0.50000
min           0.00000
25%           0.00000
50%           0.00000
75%           1.00000
max           1.00000
Name: result, dtype: float64
------------------------------------
Column 30: kills
count    590184.000000
mean          4.853808
std           5.906174
min           0.000000
25%           1.000000
50%           3.000000
75%           6.000000
max          60.000000
Name: kills, dtype: float64
------------------------------------
Column 31: deaths
count    590184.000000
mean          4.864049
std           5.649219
min           0.000000
25%           2.000000
50%           3.000000
75%           5.000000
max          60.000000
Name: deaths, dtype: float64
------------------------------------
Column 32: assists
count    590184.000000
mean         10.928317
std          12.980433
min           0.000000
25%           4.000000
50%           7.000000
75%          12.000000
max         120.000000
Name: assists, dtype: float64
------------------------------------
Column 33: teamkills
count    590184.000000
mean         14.561425
std           7.594133
min           0.000000
25%           8.000000
50%          14.000000
75%          20.000000
max          60.000000
Name: teamkills, dtype: float64
------------------------------------
Column 34: teamdeaths
count    590184.000000
mean         14.592148
std           7.593886
min           0.000000
25%           8.000000
50%          14.000000
75%          20.000000
max          60.000000
Name: teamdeaths, dtype: float64
------------------------------------
Column 35: doublekills
count    590184.000000
mean          0.554149
std           1.017090
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          11.000000
Name: doublekills, dtype: float64
------------------------------------
Column 36: triplekills
count    590184.000000
mean          0.099860
std           0.345452
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           6.000000
Name: triplekills, dtype: float64
------------------------------------
Column 37: quadrakills
count    587030.000000
mean          0.016774
std           0.133855
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           3.000000
Name: quadrakills, dtype: float64
------------------------------------
Column 38: pentakills
count    587030.000000
mean          0.003213
std           0.057040
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           2.000000
Name: pentakills, dtype: float64
------------------------------------
Column 39: firstblood
count    574942.000000
mean          0.287019
std           0.452371
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: firstblood, dtype: float64
------------------------------------
Column 40: firstbloodkill
count    491710.0
mean          0.1
std           0.3
min           0.0
25%           0.0
50%           0.0
75%           0.0
max           1.0
Name: firstbloodkill, dtype: float64
------------------------------------
Column 41: firstbloodassist
count    491820.000000
mean          0.143152
std           0.350228
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: firstbloodassist, dtype: float64
------------------------------------
Column 42: firstbloodvictim
count    491820.0
mean          0.1
std           0.3
min           0.0
25%           0.0
50%           0.0
75%           0.0
max           1.0
Name: firstbloodvictim, dtype: float64
------------------------------------
Column 43: team kpm
count    590184.000000
mean          0.467668
std           0.259663
min           0.000000
25%           0.268500
50%           0.436000
75%           0.627425
max           2.615800
Name: team kpm, dtype: float64
------------------------------------
Column 44: ckpm
count    590184.000000
mean          0.935335
std           0.313724
min           0.084300
25%           0.714700
50%           0.897800
75%           1.112300
max           3.854900
Name: ckpm, dtype: float64
------------------------------------
Column 45: firstdragon
count    98356.000000
mean         0.499878
std          0.500003
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: firstdragon, dtype: float64
------------------------------------
Column 46: dragons
count    98364.000000
mean         2.254717
std          1.400485
min          0.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          7.000000
Name: dragons, dtype: float64
------------------------------------
Column 47: opp_dragons
count    98364.000000
mean         2.254717
std          1.400485
min          0.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          7.000000
Name: opp_dragons, dtype: float64
------------------------------------
Column 48: elementaldrakes
count    59358.000000
mean         2.163483
std          1.335934
min          0.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          4.000000
Name: elementaldrakes, dtype: float64
------------------------------------
Column 49: opp_elementaldrakes
count    59358.000000
mean         2.163483
std          1.335934
min          0.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          4.000000
Name: opp_elementaldrakes, dtype: float64
------------------------------------
Column 50: infernals
count    98364.000000
mean         0.462995
std          0.720783
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          4.000000
Name: infernals, dtype: float64
------------------------------------
Column 51: mountains
count    98364.000000
mean         0.460199
std          0.716715
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          4.000000
Name: mountains, dtype: float64
------------------------------------
Column 52: clouds
count    98364.000000
mean         0.459040
std          0.717699
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          4.000000
Name: clouds, dtype: float64
------------------------------------
Column 53: oceans
count    98364.000000
mean         0.462720
std          0.721797
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          4.000000
Name: oceans, dtype: float64
------------------------------------
Column 54: chemtechs
count    59358.000000
mean         0.221032
std          0.542297
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          4.000000
Name: chemtechs, dtype: float64
------------------------------------
Column 55: hextechs
count    59358.000000
mean         0.366016
std          0.653072
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          4.000000
Name: hextechs, dtype: float64
------------------------------------
Column 56: dragons (type unknown)
count    3819.000000
mean        2.223095
std         1.387469
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         6.000000
Name: dragons (type unknown), dtype: float64
------------------------------------
Column 57: elders
count    98364.000000
mean         0.055508
std          0.244183
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          3.000000
Name: elders, dtype: float64
------------------------------------
Column 58: opp_elders
count    98364.000000
mean         0.055508
std          0.244183
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          3.000000
Name: opp_elders, dtype: float64
------------------------------------
Column 59: firstherald
count    98364.000000
mean         0.499105
std          0.500002
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: firstherald, dtype: float64
------------------------------------
Column 60: heralds
count    95204.000000
mean         0.896443
std          0.767679
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: heralds, dtype: float64
------------------------------------
Column 61: opp_heralds
count    95204.000000
mean         0.896443
std          0.767679
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: opp_heralds, dtype: float64
------------------------------------
Column 62: void_grubs
count    16858.000000
mean         2.747004
std          2.122571
min          0.000000
25%          1.000000
50%          3.000000
75%          5.000000
max          6.000000
Name: void_grubs, dtype: float64
------------------------------------
Column 63: opp_void_grubs
count    16858.000000
mean         2.747004
std          2.122571
min          0.000000
25%          1.000000
50%          3.000000
75%          5.000000
max          6.000000
Name: opp_void_grubs, dtype: float64
------------------------------------
Column 64: firstbaron
count    97928.000000
mean         0.474440
std          0.499349
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: firstbaron, dtype: float64
------------------------------------
Column 65: barons
count    391884.000000
mean          0.277608
std           0.561358
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           5.000000
Name: barons, dtype: float64
------------------------------------
Column 66: opp_barons
count    391884.000000
mean          0.277608
std           0.561358
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           5.000000
Name: opp_barons, dtype: float64
------------------------------------
Column 67: firsttower
count    98342.000000
mean         0.499980
std          0.500003
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: firsttower, dtype: float64
------------------------------------
Column 68: towers
count    98364.000000
mean         5.993555
std          3.643372
min          0.000000
25%          2.000000
50%          7.000000
75%          9.000000
max         11.000000
Name: towers, dtype: float64
------------------------------------
Column 69: opp_towers
count    98364.000000
mean         5.993555
std          3.643372
min          0.000000
25%          2.000000
50%          7.000000
75%          9.000000
max         11.000000
Name: opp_towers, dtype: float64
------------------------------------
Column 70: firstmidtower
count    98346.000000
mean         0.500000
std          0.500003
min          0.000000
25%          0.000000
50%          0.500000
75%          1.000000
max          1.000000
Name: firstmidtower, dtype: float64
------------------------------------
Column 71: firsttothreetowers
count    98364.000000
mean         0.499909
std          0.500003
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: firsttothreetowers, dtype: float64
------------------------------------
Column 72: turretplates
count    59358.000000
mean         4.497524
std          2.692735
min          0.000000
25%          2.000000
50%          4.000000
75%          6.000000
max         15.000000
Name: turretplates, dtype: float64
------------------------------------
Column 73: opp_turretplates
count    59358.000000
mean         4.497524
std          2.692735
min          0.000000
25%          2.000000
50%          4.000000
75%          6.000000
max         15.000000
Name: opp_turretplates, dtype: float64
------------------------------------
Column 74: inhibitors
count    558438.000000
mean          0.311619
std           0.679292
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: inhibitors, dtype: float64
------------------------------------
Column 75: opp_inhibitors
count    558438.000000
mean          0.311619
std           0.679292
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: opp_inhibitors, dtype: float64
------------------------------------
Column 76: damagetochampions
count    590052.000000
mean      22885.550979
std       24177.885639
min           0.000000
25%        8168.000000
50%       14247.000000
75%       24929.250000
max      273210.000000
Name: damagetochampions, dtype: float64
------------------------------------
Column 77: dpm
count    590052.000000
mean        716.406469
std         719.660504
min           0.000000
25%         270.911450
50%         462.119500
75%         756.307450
max        5848.876600
Name: dpm, dtype: float64
------------------------------------
Column 78: damageshare
count    491710.000000
mean          0.200000
std           0.094676
min           0.000000
25%           0.122096
50%           0.199717
75%           0.267262
max           0.700227
Name: damageshare, dtype: float64
------------------------------------
Column 79: damagetakenperminute
count    590052.000000
mean       1013.945941
std         968.049652
min           0.000000
25%         437.312600
50%         640.302700
75%         969.035150
max        7202.407500
Name: damagetakenperminute, dtype: float64
------------------------------------
Column 80: damagemitigatedperminute
count    590184.000000
mean        940.734572
std         966.786925
min           0.000000
25%         317.917300
50%         566.839650
75%        1057.240075
max        9408.701000
Name: damagemitigatedperminute, dtype: float64
------------------------------------
Column 81: wardsplaced
count    590052.000000
mean         32.652936

In [46]:
team_rows = df[df['position'] == 'team'].copy()
player_rows = df[df['position'] != 'team']

positions = ['top', 'jng', 'mid', 'bot', 'sup']

for pos in positions:
    champ_col = (
        player_rows[player_rows['position'] == pos]
        .loc[:, ['gameid', 'side', 'champion']]
        .rename(columns={'champion': f'{pos}_champ'})
    )
    
    team_rows = team_rows.merge(champ_col, on=['gameid', 'side'], how='left')
df = team_rows

Dropping Data

In [47]:
columns_to_drop = (
    df.columns[1:11]  # Metadata columns
    .union(df.columns[12:18])  # Additional metadata columns
    .union(df.columns[18:28])  # BP data
    .union(df.columns[30:43])  # End game data columns
    .union(df.columns[48:57])  # Drake-related columns
    .union(df.columns[40:43])  # Individual data columns
    .union(pd.Index([df.columns[78]]))  # Specific column (xpat15)
    .union(pd.Index([df.columns[91]]))  # Specific column (opp_deathsat15)
    .union(pd.Index([df.columns[95]]))  # Specific column (bot_champ)
    .union(pd.Index([df.columns[28]]))  # Specific column (firstbaron)
    .union(df.columns[131:161])  # Data after 20 minutes
)

df.drop(columns=columns_to_drop, axis=1, inplace=True)

In [48]:
df.head()

,gameid,side,result,team kpm,ckpm,firstdragon,dragons,opp_dragons,elders,opp_elders,...,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15,top_champ,jng_champ,mid_champ,bot_champ,sup_champ
0,ESPORTSTMNT03/1241318,Blue,1,0.4595,0.7568,0.0,2.0,3.0,0.0,0.0,...,0.0,1.0,1.0,2.0,0.0,Rumble,Elise,Qiyana,Miss Fortune,Nautilus
1,ESPORTSTMNT03/1241318,Red,0,0.2973,0.7568,1.0,3.0,2.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,Aatrox,Gragas,Mordekaiser,Xayah,Rakan
2,ESPORTSTMNT03/1241322,Blue,0,0.1347,0.7005,0.0,1.0,4.0,0.0,0.0,...,0.0,6.0,6.0,7.0,0.0,Jayce,Jarvan IV,Orianna,Miss Fortune,Nautilus
3,ESPORTSTMNT03/1241322,Red,1,0.5658,0.7005,1.0,4.0,1.0,0.0,0.0,...,7.0,0.0,0.0,0.0,6.0,Aatrox,Elise,Qiyana,Varus,Tahm Kench
4,ESPORTSTMNT03/1241324,Blue,1,0.7364,0.8767,1.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,Renekton,Rek'Sai,Mordekaiser,Xayah,Rakan

In [49]:
# Print the dataframe information
print(df.info())

# Print the dataframe description
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98364 entries, 0 to 98363
Data columns (total 84 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gameid                    98364 non-null  object
 1   side                      98364 non-null  object
 2   result                    98364 non-null  int64
 3   team kpm                  98364 non-null  float64
 4   ckpm                      98364 non-null  float64
 5   firstdragon               98356 non-null  float64
 6   dragons                   98364 non-null  float64
 7   opp_dragons               98364 non-null  float64
 8   elders                    98364 non-null  float64
 9   opp_elders                98364 non-null  float64
 10  firstherald               98364 non-null  float64
 11  heralds                   95204 non-null  float64
 12  opp_heralds               95204 non-null  float64
 13  void_grubs                16858 non-null  float64
 14  opp_void_grubs            16858 non-null  float64
 15  firstbaron                97928 non-null  float64
 16  barons                    98364 non-null  float64
 17  opp_barons                98364 non-null  float64
 18  firsttower                98342 non-null  float64
 19  towers                    98364 non-null  float64
 20  opp_towers                98364 non-null  float64
 21  firstmidtower             98346 non-null  float64
 22  firsttothreetowers        98364 non-null  float64
 23  turretplates              59358 non-null  float64
 24  opp_turretplates          59358 non-null  float64
 25  inhibitors                98248 non-null  float64
 26  opp_inhibitors            98248 non-null  float64
 27  damagetochampions         98342 non-null  float64
 28  dpm                       98342 non-null  float64
 29  damagetakenperminute      98342 non-null  float64
 30  damagemitigatedperminute  98364 non-null  float64
 31  wardsplaced               98342 non-null  float64
 32  wpm                       98342 non-null  float64
 33  wardskilled               98342 non-null  float64
 34  wcpm                      98342 non-null  float64
 35  controlwardsbought        98342 non-null  float64
 36  visionscore               95320 non-null  float64
 37  vspm                      95320 non-null  float64
 38  totalgold                 98364 non-null  int64
 39  earnedgold                98342 non-null  float64
 40  earned gpm                98342 non-null  float64
 41  goldspent                 98364 non-null  float64
 42  gspd                      98364 non-null  float64
 43  gpr                       98364 non-null  float64
 44  minionkills               95714 non-null  float64
 45  monsterkills              98342 non-null  float64
 46  monsterkillsownjungle     38984 non-null  float64
 47  monsterkillsenemyjungle   38984 non-null  float64
 48  cspm                      95736 non-null  float64
 49  goldat10                  98360 non-null  float64
 50  xpat10                    98360 non-null  float64
 51  csat10                    98360 non-null  float64
 52  opp_goldat10              98360 non-null  float64
 53  opp_xpat10                98360 non-null  float64
 54  opp_csat10                98360 non-null  float64
 55  golddiffat10              98360 non-null  float64
 56  xpdiffat10                98360 non-null  float64
 57  csdiffat10                98360 non-null  float64
 58  killsat10                 98360 non-null  float64
 59  assistsat10               98360 non-null  float64
 60  deathsat10                98360 non-null  float64
 61  opp_killsat10             98360 non-null  float64
 62  opp_assistsat10           98360 non-null  float64
 63  opp_deathsat10            98360 non-null  float64
 64  goldat15                  98358 non-null  float64
 65  xpat15                    98358 non-null  float64
 66  csat15                    98358 non-null  float64
 67  opp_goldat15              98358 non-null  float64
 68  opp_xpat15                98358 non-null  float64
 69  opp_csat15                98358 non-null  float64
 70  golddiffat15              98358 non-null  float64
 71  xpdiffat15                98358 non-null  float64
 72  csdiffat15                98358 non-null  float64
 73  killsat15                 98358 non-null  float64
 74  assistsat15               98358 non-null  float64
 75  deathsat15                98358 non-null  float64
 76  opp_killsat15             98358 non-null  float64
 77  opp_assistsat15           98358 non-null  float64
 78  opp_deathsat15            98358 non-null  float64
 79  top_champ                 98364 non-null  object
 80  jng_champ                 98364 non-null  object
 81  mid_champ                 98364 non-null  object
 82  bot_champ                 98364 non-null  object
 83  sup_champ                 98364 non-null  object
dtypes: float64(75), int64(2), object(7)
memory usage: 63.0+ MB
None
             result      team kpm          ckpm   firstdragon       dragons  \
count  98364.000000  98364.000000  98364.000000  98356.000000  98364.000000
mean       0.499990      0.467668      0.935335      0.499878      2.254717
std        0.500003      0.259665      0.313725      0.500003      1.400485
min        0.000000      0.000000      0.084300      0.000000      0.000000
25%        0.000000      0.268500      0.714700      0.000000      1.000000
50%        0.000000      0.436000      0.897800      0.000000      2.000000
75%        1.000000      0.627425      1.112300      1.000000      3.000000
max        1.000000      2.615800      3.854900      1.000000      7.000000

        opp_dragons        elders    opp_elders   firstherald       heralds  \
count  98364.000000  98364.000000  98364.000000  98364.000000  95204.000000
mean       2.254717      0.055508      0.055508      0.499105      0.896443
std        1.400485      0.244183      0.244183      0.500002      0.767679
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        1.000000      0.000000      0.000000      0.000000      0.000000
50%        2.000000      0.000000      0.000000      0.000000      1.000000
75%        3.000000      0.000000      0.000000      1.000000      1.000000
max        7.000000      3.000000      3.000000      1.000000      2.000000

       ...    opp_csat15  golddiffat15    xpdiffat15    csdiffat15  \
count  ...  98358.000000  98358.000000  98358.000000  98358.000000
mean   ...    503.315816      0.000000      0.000000      0.000000
std    ...     38.171887   3098.208949   2104.903665     41.623101
min    ...    289.000000 -17056.000000 -11914.000000   -237.000000
25%    ...    479.000000  -1936.750000  -1302.000000    -27.000000
50%    ...    506.000000      0.000000      0.000000      0.000000
75%    ...    530.000000   1936.750000   1302.000000     27.000000
max    ...    636.000000  17056.000000  11914.000000    237.000000

          killsat15   assistsat15    deathsat15  opp_killsat15  \
count  98358.000000  98358.000000  98358.000000   98358.000000
mean       4.125552      6.885480      4.137762       4.125552
std        3.042351      5.559112      3.048032       3.042351
min        0.000000      0.000000      0.000000       0.000000
25%        2.000000      3.000000      2.000000       2.000000
50%        4.000000      6.000000      4.000000       4.000000
75%        6.000000     10.000000      6.000000       6.000000
max       32.000000     57.000000     32.000000      32.000000

       opp_assistsat15  opp_deathsat15
count     98358.000000    98358.000000
mean          6.885480        4.137762
std           5.559112        3.048032
min           0.000000        0.000000
25%           3.000000        2.000000
50%           6.000000        4.000000
75%          10.000000        6.000000
max          57.000000       32.000000

[8 rows x 77 columns]

In [50]:
# Concatenate the head and tail of the dataframe
head_and_tail = pd.concat([df.head(), df.tail()])

# Save to a CSV file
head_and_tail.to_csv("head_and_tail.csv", index=False)

In [51]:
# Define null_columns if not already defined
null_counts = df.isnull().sum()
null_columns = null_counts[null_counts > 0]

# Initialize an empty DataFrame to store the rows
rows_with_nulls = pd.DataFrame()

# Iterate through columns with null values
for col in null_columns.index:
    # Select rows where the column has null values
    null_rows = df[df[col].isnull()]
    
    # Append the first two rows with null values for the column
    rows_with_nulls = pd.concat([rows_with_nulls, null_rows.head(2)], ignore_index=True)

# Display the resulting DataFrame
rows_with_nulls.head()
rows_with_nulls.to_csv("rows_with_nulls.csv", index=False)

In [55]:
# Print the count of null values in each column
print("Null values in each column:")
null_counts = df.isnull().sum()
null_columns = null_counts[null_counts > 0]
print(null_columns)

# Calculate the ratio of null values for each column
null_ratio = (null_counts / total_rows)

# Filter and print only the columns where the ratio of null values is greater than 0
null_columns_with_ratio = null_ratio[null_ratio > 0]
print("Columns with null values and their ratios:")
print(null_columns_with_ratio)

Null values in each column:
firstdragon                    8
heralds                     3160
opp_heralds                 3160
void_grubs                 81506
opp_void_grubs             81506
firstbaron                   436
firsttower                    22
firstmidtower                 18
turretplates               39006
opp_turretplates           39006
inhibitors                   116
opp_inhibitors               116
damagetochampions             22
dpm                           22
damagetakenperminute          22
wardsplaced                   22
wpm                           22
wardskilled                   22
wcpm                          22
controlwardsbought            22
visionscore                 3044
vspm                        3044
earnedgold                    22
earned gpm                    22
minionkills                 2650
monsterkills                  22
monsterkillsownjungle      59380
monsterkillsenemyjungle    59380
cspm                        2628
goldat10                       4
xpat10                         4
csat10                         4
opp_goldat10                   4
opp_xpat10                     4
opp_csat10                     4
golddiffat10                   4
xpdiffat10                     4
csdiffat10                     4
killsat10                      4
assistsat10                    4
deathsat10                     4
opp_killsat10                  4
opp_assistsat10                4
opp_deathsat10                 4
goldat15                       6
xpat15                         6
csat15                         6
opp_goldat15                   6
opp_xpat15                     6
opp_csat15                     6
golddiffat15                   6
xpdiffat15                     6
csdiffat15                     6
killsat15                      6
assistsat15                    6
deathsat15                     6
opp_killsat15                  6
opp_assistsat15                6
opp_deathsat15                 6
dtype: int64
Columns with null values and their ratios:
firstdragon                0.000012
heralds                    0.004744
opp_heralds                0.004744
void_grubs                 0.122351
opp_void_grubs             0.122351
firstbaron                 0.000654
firsttower                 0.000033
firstmidtower              0.000027
turretplates               0.058553
opp_turretplates           0.058553
inhibitors                 0.000174
opp_inhibitors             0.000174
damagetochampions          0.000033
dpm                        0.000033
damagetakenperminute       0.000033
wardsplaced                0.000033
wpm                        0.000033
wardskilled                0.000033
wcpm                       0.000033
controlwardsbought         0.000033
visionscore                0.004569
vspm                       0.004569
earnedgold                 0.000033
earned gpm                 0.000033
minionkills                0.003978
monsterkills               0.000033
monsterkillsownjungle      0.089137
monsterkillsenemyjungle    0.089137
cspm                       0.003945
goldat10                   0.000006
xpat10                     0.000006
csat10                     0.000006
opp_goldat10               0.000006
opp_xpat10                 0.000006
opp_csat10                 0.000006
golddiffat10               0.000006
xpdiffat10                 0.000006
csdiffat10                 0.000006
killsat10                  0.000006
assistsat10                0.000006
deathsat10                 0.000006
opp_killsat10              0.000006
opp_assistsat10            0.000006
opp_deathsat10             0.000006
goldat15                   0.000009
xpat15                     0.000009
csat15                     0.000009
opp_goldat15               0.000009
opp_xpat15                 0.000009
opp_csat15                 0.000009
golddiffat15               0.000009
xpdiffat15                 0.000009
csdiffat15                 0.000009
killsat15                  0.000009
assistsat15                0.000009
deathsat15                 0.000009
opp_killsat15              0.000009
opp_assistsat15            0.000009
opp_deathsat15             0.000009
dtype: float64

In [53]:
# Print the count of unique values in each column
print("Unique values in each column:")
print(df.nunique())

Unique values in each column:
gameid                      49182
side                            2
result                          2
team kpm                    11143
ckpm                        11909
firstdragon                     2
dragons                         8
opp_dragons                     8
elders                          4
opp_elders                      4
firstherald                     2
heralds                         3
opp_heralds                     3
void_grubs                      7
opp_void_grubs                  7
firstbaron                      2
barons                          6
opp_barons                      6
firsttower                      2
towers                         12
opp_towers                     12
firstmidtower                   2
firsttothreetowers              2
turretplates                   16
opp_turretplates               16
inhibitors                     11
opp_inhibitors                 11
damagetochampions           58620
dpm                         97821
damagetakenperminute        97795
damagemitigatedperminute    97921
wardsplaced                   246
wpm                         22824
wardskilled                   149
wcpm                        17142
controlwardsbought            105
visionscore                   537
vspm                        39606
totalgold                   40025
earnedgold                  33216
earned gpm                  97153
goldspent                   18489
gspd                        93695
gpr                          1637
minionkills                  1124
monsterkills                  376
monsterkillsownjungle         238
monsterkillsenemyjungle       103
cspm                        57083
goldat10                     5938
xpat10                       5523
csat10                        204
opp_goldat10                 5938
opp_xpat10                   5523
opp_csat10                    204
golddiffat10                 8865
xpdiffat10                   6685
csdiffat10                    241
killsat10                      19
assistsat10                    34
deathsat10                     20
opp_killsat10                  19
opp_assistsat10                34
opp_deathsat10                 20
goldat15                    10070
xpat15                       8530
csat15                        310
opp_goldat15                10070
opp_xpat15                   8530
opp_csat15                    310
golddiffat15                15525
xpdiffat15                  11483
csdiffat15                    367
killsat15                      31
assistsat15                    49
deathsat15                     31
opp_killsat15                  31
opp_assistsat15                49
opp_deathsat15                 31
top_champ                     148
jng_champ                     132
mid_champ                     157
bot_champ                     134
sup_champ                     134
dtype: int64

In [57]:
correlation = df['void_grubs'].corr(df['result'])  # win should be 0/1
print("Correlation with win:", correlation)

Correlation with win: 0.1548435396610444